@font-face {
	font-family: Rick;
    src: url(fonts/RicksAmericanNF.ttf);
}

body {
	background: black ;

}

.wrapper {
	width: 960px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	color: rgb(245,160,0);
}

h1 {
	font-family: Rick;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 15px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 15px;
}

nav > ul > li {
	display: inline-block;
	font-family: Rick;
	font-size: 30px;
	letter-spacing: 5px;
	text-transform: uppercase;
	width: 150px;
	margin-left:30px;
	margin-right: 30px;
}
li:hover {
	background-color: rgb(255,163,0);
	cursor: pointer;
	border-radius: 15px;
	color:black;

}

nav {
	margin: 0 auto;
	text-align: center;
}
ul {
	padding:0px;
}

.main {
	background-color: rgb(60,60,60);
	display: block;
	margin: 0 auto;
	height: 600px;
}
.article {
	float: left;
	width: 545px;
	height: 270px;
	margin-left: 20px;
	margin-top: 5px;

}
article:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
h4 {
	font-size: 23px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 10px;
}

img {
	width: 250px;
	height: 200px;
	float:left;
	margin-right: 5px;
}

.second {

	height: 260px;
}
img:after {
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
p {
	margin-left: 10px;
	text-indent: 25px;
	text-align: justify;
}

.aside {
	width: 300px;
	height: 200px;
}

.aside:after {
	content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.small {
	width: 300px;
	height: 200px;
	border-radius: 10px;
}

.smaller {
	width: 300px;
	height: 150px;
	border-radius: 10px;
}
.aside-smaller {
	width: 300px;
	height: 150px;
	
}

.articles {
	width: 550px;
	float: left;
}

.asides {
	width: 360px;
	float:right;
	margin-top:25px;
}

.aside, .aside-smaller {
	position: relative;
	float:right;
	position: relative;
	border:1px solid rgb(245,160,0);
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 40px;
}

.aside:hover   .aside-h    {
	cursor:pointer;
	background-color: rgb(255,163,0);
	color:black;
}
.aside-smaller:hover  .aside-smaller-h {
	cursor:pointer;
	background-color: rgb(255,163,0);
	color:black;
}

.aside-h {
   top: 143px; 
   left: 0; 
}

.aside-smaller-h {
   top: 93px; 
   left: 0; 
}
.aside-h, .aside-smaller-h  {
	text-align: center;
	font-size: 16px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius:10px;
	position: absolute; 
	width: 100%; 
	background-color: rgba(45,45,45,0.5);
}


footer {
	text-align: center;
	width: 100%;
	height: 25px;
	margin-top: 10px;
}