@font-face {
    font-family: Vollkorn;
    src: url(vollkorn/Vollkorn-Regular.ttf);

}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.head {
	font-family: Vollkorn;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	color: rgb(127, 144, 160);
	margin-bottom: 30px;
	
}

.options {
	display: inline-block;
	float:left;
	width: 300px;
	height: 550px;
	background: rgb(246, 247, 249);
	margin: 15px 15px;
	text-align: center;
	position: relative;
}

.sml {
	height: 18%;
	font-family: Vollkorn;
	font-size: 30px;
	color: rgb(98,124,150);
	background: rgb(235, 239, 242); 	

}

.center {
	text-align: center;
	vertical-align: middle;
	line-height: 108px; 
}
p {
	text-align: center;
	font-family: Tahoma;
	font-size: 16px;
	color: rgb(148,160, 175);
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(242,243,245);	
}
.price {
	font-family: Vollkorn;
	font-size: 60px;
	text-align: center;
	color: rgb(125,138,150);
	margin-top: 15px;
	margin-bottom:25px;
	border-bottom: none;
}


button {
	width: 85%;
	height: 10%;
	background-color:rgb(202, 213,217);
	color:white;
	border-radius: 5px;
	border-style:none;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	left:23px;
	margin-bottom: 20px;

}

.options:hover > header,
.options:hover > button
 {
	color:white;
	background-color: blue;
	cursor: pointer;
}
.options:hover > .price {
	color:blue;
}